Package: jor-conn
Version: 1.0.0
Section: net
Priority: optional
Architecture: all
Depends: bash, tigervnc-viewer, wpasupplicant, curl, dnsutils, bc, nmap, procps, iproute2, isc-dhcp-client
Maintainer: Jor Master <jor@ultimate>
Description: VNC and Network Connection Manager
  A portable and configurable networking solution with a flexible profile system
  and remote access capabilities.
