Package: jor-conn
Version: 3.1.0
Section: net
Priority: optional
Architecture: all
Depends: bash, wpasupplicant, ntpdate, curl, dnsutils, bc, net-tools, nmap
Maintainer: Jor Master <jor@connector>
Description: Network & Proxy Manager
 A portable tool for managing Wi-Fi profiles and System-Wide Proxies.
 Features robust handling of APT, Git, NPM, and VS Code proxy settings.
 Includes optional tools for VNC remote access and DuckDNS management.
